{% extends 'base.html' %} 
{% block title %}Add Vehicle{% endblock %} 
{% block content %} 
    <h2>Add a Vehicle</h2>
    <form method="POST" action="{% url 'add_vehicle' %}">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" value="Add Vehicle" />
    </form>
  </body>
{% endblock %}
