{% extends 'base.html' %} 
{% block title %}Register{% endblock %} 
{% block content %} 
    <h2>Sign up</h2>
    <form method="POST" action="{% url 'register' %}">
      {% csrf_token %} {{ profile_form.as_p }} {{ form.as_p }}
      <input type="submit" value="Sign Up" />
    </form>
  </body>
{% endblock %}