{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content%}
{% if user.is_authenticated %}
<h2>Hi {{ user.username }}!</h2>
<hr />
<br /><br />
<a href="{% url 'login' %}">Login with different account </a><br />
<a href="{% url 'register' %}">Create New Account </a><br />
<a href="{% url 'add_vehicle' %}">Add Vehicle </a><br />
<a href="{% url 'garage_checker' %}">Your Garagens </a><br />
<a href="{% url 'vehicle_checker' %}">Your Vehicles </a><br />
<a href="{% url 'api' %}">Our API </a><br />
<p>
  Use curl post http://127.0.0.1:8000/api-auth-token/ with your credentials to
  get a token...
</p>
<a href="{% url 'admin:index' %}">Admin Area </a><br />

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a><br />
<a href="{% url 'register' %}">Register</a><br />
{% endif %} {% endblock %}
